<?xml version="1.0" standalone="yes"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AccSys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AccSys.Properties.Settings.Connection" connectionString="Data Source=DESKTOP-S0HGPHN;Initial Catalog=Maxsll22_zain;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AccSys.Properties.Settings.ConnectionSub" connectionString="Data Source=DESKTOP-S0HGPHN;Initial Catalog=Maxsll22_zaindp;Integrated Security=True" />
    <add name="AccSys.Properties.Settings.MobileConnectionSource" connectionString="Data Source=ACCOUNTS4\SQLR2;Initial Catalog=dbs_MaxSell_Version2_Point_2_InterState;Integrated Security=True" />
    <add name="AccSys.Properties.Settings.MobileConnectionDestination" connectionString="Data Source=ACCOUNTS4\SQLR2;Initial Catalog=dbs_MaxSell_Version2_Point_2_InterState;Integrated Security=True" />
    <add name="AccSys.Properties.Settings.ConnectionSource" connectionString="Data Source=ACCOUNTS4\SQLR2;Initial Catalog=dbs_MaxSell_Version2_Point_2_InterState;Integrated Security=True" />
    <add name="AccSys.Properties.Settings.ConnectionDestination" connectionString="Data Source=ACCOUNTS4\SQLR2;Initial Catalog=dbs_MaxSell_Version2_Point_2_InterState;Integrated Security=True" />
    <add name="AccSys.Properties.Settings.ConnectionCreditSystem" connectionString="Data Source=ACCOUNTS4\SQLR2;Initial Catalog=dbs_MaxSell_Version2_Point_2_InterState;Integrated Security=True" />
    <add name="AccSys.Properties.Settings.ConnectionPrev" connectionString="Data Source=DESKTOP-S0HGPHN;Initial Catalog=Maxsll22_zain;Integrated Security=True" />
    <add name="AccSys.Properties.Settings.ConnectionSubPrev" connectionString="Data Source=DESKTOP-S0HGPHN;Initial Catalog=Maxsll22_zaindp;Integrated Security=True" />
  </connectionStrings>
  <applicationSettings>
    <AccSys.Properties.Settings>
      <setting name="ProviderName" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="TeamViwerLogin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Index" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Switch" serializeAs="String">
        <value>False</value>
      </setting>
    </AccSys.Properties.Settings>
  </applicationSettings>
</configuration>